nodered/Machine Monitoring.json
[
  {
    "id": "2d75edcb77425d1d",
    "type": "tab",
    "label": "Machine Monitoring",
    "disabled": false,
    "info": "PLC Machine Monitoring Flow - Improved Version",
    "env": []
  },
  {
    "id": "f9ef9ba74ecfc55c",
    "type": "inject",
    "z": "2d75edcb77425d1d",
    "name": "Poll Every Second",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 140,
    "wires": [["d1dc275e1dbb36c2"]]
  },
  {
    "id": "d1dc275e1dbb36c2",
    "type": "function",
    "z": "2d75edcb77425d1d",
    "name": "Generate PLC Requests",
    "func": "const machines = [\n    { code: \"52032\", ip: \"10.42.46.49\" },\n    { code: \"52034\", ip: \"10.42.46.52\" },\n    { code: \"52049\", ip: \"10.42.46.55\" },\n    { code: \"52066\", ip: \"10.42.46.62\" },\n    { code: \"52067\", ip: \"10.42.46.65\" },\n    { code: \"52069\", ip: \"10.42.46.68\" },\n    { code: \"52074\", ip: \"10.42.46.57\" },\n    { code: \"58016\", ip: \"10.42.46.50\" },\n    { code: \"58017\", ip: \"10.42.46.51\" },\n    { code: \"58018\", ip: \"10.42.46.53\" },\n    { code: \"58019\", ip: \"10.42.46.54\" },\n    { code: \"58022\", ip: \"10.42.46.56\" },\n    { code: \"58028\", ip: \"10.42.46.60\" }\n];\n\nlet msgs = [];\nfor (let machine of machines) {\n    msgs.push({\n        topic: machine.code,\n        payload: {\n            unitid: 1,\n            fc: 3,          \n            address: 45,     \n            quantity: 3      \n        },\n        ip: machine.ip,\n        machineCode: machine.code\n    });\n}\n\nreturn [msgs];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 375,
    "y": 140,
    "wires": [["853abfb442339f60"]]
  },
  {
    "id": "853abfb442339f60",
    "type": "split",
    "z": "2d75edcb77425d1d",
    "name": "Split requests",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 580,
    "y": 140,
    "wires": [["54ba7bcb6ba301e1"]]
  },
  {
    "id": "54ba7bcb6ba301e1",
    "type": "modbus-flex-getter",
    "z": "2d75edcb77425d1d",
    "name": "Read PLC Data",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "7ec9a1403fb6beea",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 755,
    "y": 140,
    "wires": [["dc506969839440d4"], ["4c7ae1f6afff81a0"]]
  },
  {
    "id": "dc506969839440d4",
    "type": "function",
    "z": "2d75edcb77425d1d",
    "name": "Process Machine Data",
    "func": "const machineCode = msg.topic;\nconst machineName = global.get('getMachineName')(machineCode);\n\nif (!machineName) {\n    node.warn(`Machine name not found for code: ${machineCode}`);\n}\n\nconst status = msg.payload[0];\nconst counter = msg.payload[2];\nconst operationNames = {\n    0: 'MACHINE OFF',\n    1: 'TROUBLE MACHINE',\n    2: 'CHOKOTEI',\n    3: 'DANDORI',\n    4: 'STOP PLANNING',\n    5: 'TOOL CHANGES',\n    7: 'WAITING MATERIAL',\n    8: 'CONTROL LOSS TIME',\n    9: 'UNKNOWN LOSS TIME',\n    10: 'NORMAL OPERATION',\n    11: 'TENKEN',\n    13: 'TENKEN',\n    14: 'NOT CONNECTED',\n    21: 'JAM ISTIRAHAT',\n    22: 'RENCANA PERBAIKAN',\n    23: 'TRIAL',\n    24: 'PLAN PROSES SELESAI',\n    25: '5S',\n    26: 'MEETING PAGI/SORE',\n    27: 'TENKEN',\n    28: 'PEMANASAN',\n    29: 'CEK QC',\n    30: 'INPUT DATA',\n    31: 'BUANG KIRIKO',\n    32: 'MENUNGGU INTRUKSI ATASAN',\n    33: 'REPAIR',\n    34: 'KAIZEN',\n    35: 'GANTI TOISHI',\n    36: 'GANTI DRESSER',\n    37: '1 TOOTH',\n    38: 'CHECK HAGATA',\n    39: 'DRESSING PROFILE',\n    40: 'DRESS-2',\n    41: 'ANTRI JOB'\n};\n\nconst operationName = operationNames[status] || 'UNKNOWN';\nconst cacheKey = 'StatusCounter_' + machineCode;\nconst lastData = flow.get(cacheKey) || null;\n\nif (!lastData || lastData.status !== status || lastData.counter !== counter) {\n    flow.set(cacheKey, {\n        status: status,\n        counter: counter\n    });\n    msg.topic = \"INSERT\";\n    msg.payload = {\n        MachineCode: machineCode,\n        MachineName: machineName || `SC ${machineCode}`,\n        OPERATION_NAME: operationName,\n        MACHINE_STATUS: status,\n        MACHINE_COUNTER: counter,\n        SEND_PLC: 1,\n        CreatedAt: new Date().toISOString()\n    };\n    \n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 950,
    "y": 118.5,
    "wires": [["6e0916768812bfe5"]]
  },
  {
    "id": "6e0916768812bfe5",
    "type": "MSSQL",
    "z": "2d75edcb77425d1d",
    "mssqlCN": "c8ee43fc3d69794f",
    "name": "Insert to MACHINE_LOG",
    "query": "INSERT INTO [MACHINE_LOG].[dbo].[Machine_{{payload.MachineCode}}]\n    ([MachineCode]\n    ,[MachineName]\n    ,[OPERATION_NAME]\n    ,[MACHINE_STATUS]\n    ,[MACHINE_COUNTER]\n    ,[SEND_PLC]\n    ,[CreatedAt])\nVALUES\n    (@MachineCode\n    ,@MachineName\n    ,@OPERATION_NAME\n    ,@MACHINE_STATUS\n    ,@MACHINE_COUNTER\n    ,@SEND_PLC\n    ,@CreatedAt)",
    "outField": "payload",
    "x": 1185,
    "y": 118.5,
    "wires": [["6f6eb976a1ef5223"]]
  },
  {
    "id": "4c7ae1f6afff81a0",
    "type": "debug",
    "z": "2d75edcb77425d1d",
    "name": "PLC Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "error",
    "statusType": "auto",
    "x": 1450,
    "y": 161.5,
    "wires": []
  },
  {
    "id": "6f6eb976a1ef5223",
    "type": "status",
    "z": "2d75edcb77425d1d",
    "name": "DB Success",
    "scope": null,
    "x": 1450,
    "y": 118.5,
    "wires": [[]]
  },
  {
    "id": "a8820869fa342eca",
    "type": "function",
    "z": "2d75edcb77425d1d",
    "name": "Global Machine Name Function",
    "func": "// Create a global function to look up machine names by code\n// This will be available across all flows\nglobal.set('getMachineName', function(machineCode) {\n    const machineMapping = {\n        \"52032\": \"D98_IN:CYL_GRND_LINE_1:52032_51\",\n        \"52034\": \"D98_EX_D73:Line_2_C_G:52034_35\",\n        \"52049\": \"IN20_EX:Line_3:52049\",\n        \"52066\": \"AP2_IN:Line_6_C_G:52066\",\n        \"52067\": \"AP2_EX:Line_7_C_G:52067\",\n        \"52069\": \"D26F__D78:Line_8_C_G:52069\",\n        \"52074\": \"CAM SHAFT MACH KRW:52074\",\n        \"58016\": \"FINE_CAM_NO1:58016\",\n        \"58017\": \"D98_IN_EX_D73_Fine_cam_2:58017\",\n        \"58018\": \"D98_IN_EX_D73:Fine_cam_3:58018\",\n        \"58019\": \"D98_IN_EX_D73:Fine_cam_4:58019\",\n        \"58022\": \"IN10_IN20_EX:Fine_cam_6:58022\",\n        \"58028\": \"RB7:Fine_Cam_H_5:58028\"\n    };\n    \n    return machineMapping[machineCode] || null;\n});\n\n// Just pass through the incoming message\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "// Code added here will be run once\n// when the node is deployed.\n",
    "finalize": "",
    "libs": [],
    "x": 1450,
    "y": 204.5,
    "wires": [[]]
  },
  {
    "id": "8460e1a1555fc026",
    "type": "inject",
    "z": "2d75edcb77425d1d",
    "name": "Initialize Global Functions",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1185,
    "y": 204.5,
    "wires": [["a8820869fa342eca"]]
  },
  {
    "id": "16229b55e0bc5ff3",
    "type": "comment",
    "z": "2d75edcb77425d1d",
    "name": "Machine Data Lookup",
    "info": "This flow monitors multiple PLC machines and logs their status to a database.\n\nThe global function provides a centralized mapping between machine codes and their proper names.",
    "x": 1450,
    "y": 247.5,
    "wires": []
  },
  {
    "id": "7ec9a1403fb6beea",
    "type": "modbus-client",
    "name": "SC 52032",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "10.42.46.49",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true,
    "showErrors": false,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "c8ee43fc3d69794f",
    "type": "MSSQL-CN",
    "name": "MACHINE_LOG",
    "server": "10.41.51.2 ",
    "encyption": false,
    "database": "MACHINE_LOG"
  }
]
