nodered/Reduce Fuction.json
[
  {
    "id": "ecf68eafea0aa6f0",
    "type": "tab",
    "label": "test",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b6448bac912c5acd",
    "type": "inject",
    "z": "ecf68eafea0aa6f0",
    "name": "INTERVAL",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 140,
    "wires": [
      [
        "31fbf4b6ccfa4c69",
        "38b98b47da196dab",
        "c0ab32b4dbb1fb1a",
        "b9310b5a5739c0b8"
      ]
    ]
  },
  {
    "id": "31fbf4b6ccfa4c69",
    "type": "modbus-getter",
    "z": "ecf68eafea0aa6f0",
    "name": "52032",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "45",
    "quantity": "3",
    "server": "7ec9a1403fb6beea",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 435,
    "y": 91.5,
    "wires": [["973964848c7806e6"], []]
  },
  {
    "id": "38b98b47da196dab",
    "type": "modbus-getter",
    "z": "ecf68eafea0aa6f0",
    "name": "52034",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "45",
    "quantity": "3",
    "server": "fcd871f79e319d73",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 435,
    "y": 134.5,
    "wires": [["973964848c7806e6"], []]
  },
  {
    "id": "c0ab32b4dbb1fb1a",
    "type": "modbus-getter",
    "z": "ecf68eafea0aa6f0",
    "name": "52049",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "45",
    "quantity": "3",
    "server": "af5e9d8f47050edd",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 435,
    "y": 177.5,
    "wires": [["973964848c7806e6"], []]
  },
  {
    "id": "b9310b5a5739c0b8",
    "type": "modbus-getter",
    "z": "ecf68eafea0aa6f0",
    "name": "52066",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "45",
    "quantity": "3",
    "server": "c783bc1a942d8a96",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 435,
    "y": 220.5,
    "wires": [["973964848c7806e6"], []]
  },
  {
    "id": "aec62464544c1402",
    "type": "MSSQL",
    "z": "ecf68eafea0aa6f0",
    "mssqlCN": "c8ee43fc3d69794f",
    "name": "INSERT STATUS & COUNTER",
    "query": "declare @p_machine_code as nvarchar(10) = @machine_code\ndeclare @p_status as int = @status\ndeclare @p_counter as int = @counter\n\nBEGIN\n    -- INSERT STATUS \n    exec SPMES_Chart @p_machine_code, @p_status;\n\n    -- INSERT COUNTER\n    exec SPMES_Chart_Counter @p_machine_code, @p_counter;\nEND",
    "outField": "payload",
    "x": 990,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "973964848c7806e6",
    "type": "function",
    "z": "ecf68eafea0aa6f0",
    "name": "Process machine data",
    "func": "// Determine machine code from node name\nvar NoMachine = msg.req.nodeId.split(' ')[1];\nvar sesName = 'StatusCounter';\nvar Status = msg.payload[0];\nvar Counter = msg.payload[2];\n\n// Compare with last data to check if update is needed\nvar lastData = flow.get(sesName + '_' + NoMachine) || null;\nvar isUpdate = 1;\n\nif (lastData != null) {\n    if (lastData.Status === Status && lastData.Counter === Counter) {\n        isUpdate = 0;\n    }\n}\n\n// Save current data\nlastData = {\n    Status: Status,\n    Counter: Counter\n};\nflow.set(sesName + '_' + NoMachine, lastData);\n\n// Only forward the message if an update is needed\nif (isUpdate) {\n    msg.payload = {\n        machine_code: NoMachine,\n        status: Status,\n        counter: Counter,\n        is_update: isUpdate\n    };\n    return msg;\n}\nreturn null; // Don't forward if no update",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 160,
    "wires": [["aec62464544c1402"]]
  },
  {
    "id": "7ec9a1403fb6beea",
    "type": "modbus-client",
    "name": "SC 52032",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "10.42.46.49",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true,
    "showErrors": false,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "fcd871f79e319d73",
    "type": "modbus-client",
    "name": "SC 52034",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "10.42.46.52",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "af5e9d8f47050edd",
    "type": "modbus-client",
    "name": "SC 52049",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "10.42.46.55",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "c783bc1a942d8a96",
    "type": "modbus-client",
    "name": "SC 52066",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "10.42.46.62",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "c8ee43fc3d69794f",
    "type": "MSSQL-CN",
    "name": "MACHINE_LOG",
    "server": "10.41.51.2 ",
    "encyption": false,
    "database": "MACHINE_LOG"
  }
]
